body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  
}

.container {
  width: 400px;
  height: 250px;
  display: flex;
  background-color: black;
  justify-content: space-evenly;
  padding-top: 20px;
  align-items: flex-end;
}

.box {
  width: 60px;
  height: 250px;
  transition: height 0.5s ease;
}

.purple {
  background-color: purple;
}

.light-pink {
  background-color: pink;
}

.pink {
  background-color: rgb(237, 111, 132);
}

.orange {
  background-color: orange;
}

.yellow {
  background-color: yellow;
}
#startBtn{
  background-color: green;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
#resetBtn{
  background-color:blue ;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
#stopBtn{
  background-color: red;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}